* {
    padding: 0;
    margin: 0;
}   

body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: #f4f4f4;
    text-align: center;
}

.menu {
    top: 0;
    position: sticky;
}

ul.topnav {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #0da019;
    margin-top: 2.5;
}


ul.topnav li a {
    display: block;
    color: #f7f3f3;
    padding: 14px 16px;
    text-decoration: none;
}


.icon {
    display: flex;
    align-items: center;
    gap: 10px;
}


.logo-image {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    object-fit: cover;
}


.logo-text {
    background-color: #ffffff;
    color: black;
    height: 3vw;
    padding: 3vw;
    font-size: 4rem;
    width: 100%;
}

.img-logo {
    width: 10vw;
    height: 10vh;
}

.head-title {
    background: linear-gradient(to right, #2e7d32, #11b119);
    color: rgb(233, 238, 234);
    padding: 3%;
}

.staff-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 30px;
    flex-wrap: wrap;
    background-image: url(./assets/staff.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.card {
    background: rgb(23, 185, 23);
    width: 280px;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card img {
    width: 100%;
    height: 310px;
    object-fit: cover;
    border-radius: 10px;
}

.card h2 {
    color: #f7f4f4;

}

.card p {
    font-size: 15px;
    color: #f1f1f1;
}

.main {
    background-color: #ffffff;
}

.add-m-top {
    margin-top: 1rem;
}