* {
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1 {
    color: rgb(255, 255, 255);
    text-align: center;
}

.menu {
    top: 0;
    position: sticky;
}

ul.topnav {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #0da019;
    margin-top: 2.5vh;
}

/* Style links in topnav */
ul.topnav li a {
    display: block;
    color: #f1f1f1;
    padding: 14px 16px;
    text-decoration: none;
}

/*icon container */
.icon {
    display: flex;
    align-items: center;
    gap: 10px;
}


.logo-image {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    object-fit: cover;
}

/*Logo text */
.logo-text {
    /* background-color: white; */
    color: black;
    height: 3vw;
    padding: 3vw;
    font-size: 4rem;
    /* border: 1px solid black; */
    width: 100%;
}

.img-logo {
    width: 10vw;
    height: 10vh;
    /* border-radius: 100%; */
}

.top-content {
    color: white;
    width: 91vw;
    background-color: #2aaf35;
    padding: 4vw;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: row;
}

.big-text-left {
    font-size: 5vh;
}

.big-text-right {
    font-size: 3.5vh;
}

.content {
    color: white;
    background-color: #2aaf35;
    padding: 5vw;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: row;
}

.big-text-left-2 {
    font-size: 7vh;
    padding-right: 3vw;
}

.big-text-right-2 {
    font-size: 3.5vh;
}

.core-values {
    text-align: center;
    margin-top: 15px;
    padding: 20px;
}


.section-title {
    font-size: 2rem;
    font-weight: 700;
    color: #0f0f0f;
    margin-bottom: 40px;
}


.values-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 25px;
    flex: wrap 100;
}


.value-box {
    background: rgb(27, 202, 50);
    border-radius: 8px;
    padding: 25px;
    width: 250px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
    border-top: 4px solid #1fd325;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}


value-box:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 18px rgba(0, 0, 0, 0.12);
}


value-box:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 18px rgba(0, 0, 0, 0.12);
}

.value-title {
    font-size: 1.3rem;
    font-weight: 650;
    color: #212221;
    margin-bottom: 10px;
}


.box-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: stretch;
    gap: 25px;
    Flex-wrap: wrap;
}

.box-container p {
    font-size: 1rem;
    font-weight: 500;
}
